/* Register start
============================================*/
.modal-register {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 6;
}

.modal-register .form-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10% 5%;
  position: absolute;
  bottom: -100%;
  box-sizing: border-box;
  background-color: #000;
  transition: all 0.3s linear;
}

.modal-register .form-sign-up.showed {
  height: 100%;
  bottom: 0;
  overflow-y: auto;
}

.modal-register .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.modal-register .form__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  display: block;
}

.modal-register .form__title, .modal-register .form__label {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.modal-register .form__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: flex-end;
  text-align: right;
  margin-bottom: 25px;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 22px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s linear;
}

.modal-register .form__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-register .modal-close {
  flex-shrink: 0;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  right: 0;
  margin: 5px;
  align-self: flex-end;
  cursor: pointer;
}

.modal-register .modal-close::before, .modal-register .modal-close::after {
  content: "";
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  left: 0.16rem;
  border-radius: 15px;
  background-color: #fff;
}

.modal-register .modal-close::before {
  top: 14px;
  transform: rotate(46deg);
}

.modal-register .modal-close::after {
  top: 12px;
  transform: rotate(-46deg);
}

/* Register end
============================================*/

/* Section customize start
============================================*/

.section__title {
  font-size: 26px;
  text-align: center;
  color: #000;
  position: relative;
}

.section__title::before {
  content: "";
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: bold;
  color: #8d8d8d;
  opacity: 0.25;
}

.about .section__title::before {
  content: "About";
}

.features .section__title::before {
  content: "Experience";
}

.features .section__title {
  margin-bottom: 80px;
}

.sessions .section__title::before {
  content: "Sessions";
}

.sessions .section__title {
  margin-bottom: 100px;
}

.team .section__title::before {
  content: "Masters";
}

.team .section__title {
  margin-bottom: 70px;
}

.faq .section__title::before {
  content: "FAQ";
}

.faq .section__title {
  margin-bottom: 100px;
}

.price .section__title::before {
  content: "Course fee";
}

.price .section__title {
  margin-bottom: 120px;
}

.product .section__title::before {
  content: "Projects";
}

.product .section__title {
  margin-bottom: 100px;
}

.schedule .section__title::before {
  content: "Schedule";
}

.schedule .section__title {
  margin-bottom: 80px;
}

.section__title--white {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  text-align: left;
  color: #fff;
}

.section__subtitle--white {
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #fff;
}

/* Section customize end
============================================*/

.social-list {
  margin: 15px 0 0 0;
}

.social-list__item {
  display: inline-block;
  margin-right: 15px;
}

.social-list__item:last-child {
  margin-right: 0;
}

/* About start
============================================*/

.about {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 120px;
}

.about__column:first-child {
  flex: 0 0 60%;
  position: relative;
}

.about__column:last-child {
  flex: 0 0 30%;
}

.about__img {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0;
  bottom: 0;
}

.about__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.about__text {
  height: 175px;
  font-weight: 300;
  font-size: 19px;
  line-height: 35px;
  overflow: hidden;
}

/* About end
============================================*/

/* Features start
============================================*/

.features {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 125px;
}

.features__row {
  flex-wrap: nowrap;
}

.features__column:first-child {
  flex: 0 0 29%;
}

.features__column:last-child {
  flex: 0 0 65%;
}

.features__text {
  max-height: 15rem;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  overflow: hidden;
}

.feature-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
}

.feature-tabs__item {
  display: inline-block;
  margin: 0;
  padding: 20px;
  text-align: center;
  border-right: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s linear;
}

.feature-tabs__item.active {
  background-color: #000;
  color: #fff;
}

.feature-tabs__item:last-child {
  border-right: none;
}

/* Features end
============================================*/

/* Sessions start
============================================*/

.sessions {
  margin-bottom: 200px;
}

.sessions__header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.7rem;
  margin: 0 0 50px 20px;
  position: relative;
  border-radius: 12px;
  background: #f8f8f8;
}

.sessions__header::before {
  content: "";
  display: block;
  width: 0.26rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: -21px;
  transform: translateY(-50%);
  background-color: #000;
  border-radius: 25%;
}

.sessions__header .header__title, .sessions__header .header__subtitle, .sessions__header .header__link {
  flex: 0 0 21%;
}

.sessions__header .header__title {
  font-weight: bold;
  font-size: 20px;
}

.sessions__header .header__subtitle, .sessions__header .header__link {
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

.sessions__header-icon {
  display: inline-block;
  vertical-align: middle;
}

.sessions__content {
  display: flex;
  justify-content: space-between;
  padding: 15px 1.5rem;
  margin: 0 0 50px 20px;
}

.sessions__content-img {
  flex: 0 0 25%;
  display: flex;
}

.sessions__content-img img, .sessions__content-img picture {
  max-width: 5rem;
  max-height: 5rem;
  margin-right: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

.sessions__content-text {
  flex: 0 0 73.7%;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
}

.sessions-list {
  position: relative;
}

.sessions-list::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0.7rem;
  left: 0;
  background-color: #e8e8e8;
}

/* Sessions end
============================================*/

/* Team start
============================================*/

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 125px;
}

.members-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}

.member-card {
  position: relative;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.member-card > img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.member-about {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.member-about.show {
  display: flex;
}

.member-about__button {
  width: 90%;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.member-social-links {
  width: 90%;
}

.member-social-links > a {
  flex: 0 0 32%;
  text-align: center;
}

.member-social-icon {
  font-size: 22px;
  color: #fff;
}

.member-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.member-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

/* Team end
============================================*/

/* FAQ start
============================================*/

.faq {
  margin-bottom: 160px;
}

.faq-list__item {
  display: block;
  margin-bottom: 35px;
  border-radius: 15px;
  overflow: hidden;
}

.faq-list__item-head,
.faq-list__item-body {
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.faq-list__item-head {
  cursor: pointer;
}

.faq-list__item-head::after {
  content: "\002B";
  font-size: 25px;
  line-height: 20px;
}

.faq-list__item-body {
  display: none;
}

.faq-list__item-text {
  flex: 1;
}

/* FAQ end
============================================*/

/* Price start
============================================*/

.price {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 160px;
}

.price__column {
  flex: 0 0 47%;
}

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 70px;
  box-sizing: border-box;
  border-radius: 25px;
  background: #000;
}

.price__title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 20px;
}

.price__text {
  margin-top: 80px;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #000;
  opacity: 0.49;
}

.price-card__title, .price-card__title--crossed {
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff;
}

.price-card__title--crossed {
  text-decoration: line-through;
  font-size: 25px;
}

.price-card__title {
  font-size: 32px;
}

.price-card__text {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
}

.price__button {
  padding: 14px 60px;
}

.price-list__item {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 16px;
}

.price-list__marker {
  display: inline-block;
  vertical-align: middle;
}
/* Price end
============================================*/

/* Contact start
============================================*/

.contact-form {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 130px;
  position: relative;
}

.contact-form .row {
  flex-wrap: nowrap;
}

.contact-form::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -25px;
  background-color: #000;
  z-index: 0;
}

.contact-form__column {
  flex: 0 0 47%;
}

.contact-form__image {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.contact-form__image > img {
  width: 100%;
}

.contact-form__image::before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  top: -40%;
  background: url("../img/envelope_back.svg") center no-repeat;
  background-size: contain;
  z-index: 0;
}

.contact-form__body {
  position: relative;
  z-index: 2;
}

.form__input {
  display: block;
  width: auto;
  padding: 15px 35px;
  margin-bottom: 30px;
  border: none;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 0.05em;
  color: #e5e5e5;
}

.email-checker {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #acacac;
}

.email-check--checked {
  color: #29d089;
  margin-right: 15px;
}

/* Contact end
============================================*/

/* Product start
============================================*/

.product {
  padding-bottom: 50px;
}

.product__column:last-child {
  min-width: 0;
}

.product-description__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 38px;
}

.product-description__text {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
}

.product-description-list__item {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 20px;
}

.product-counter {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 50px;
  border-radius: 16px;
  background: #f5f5f5;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 24px;
}

.product-gallery {
  position: relative;
}

.product-gallery::before {
  content: "";
  display: block;
  width: 100%;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  background: #f5f5f5;
}

/* Product end
============================================*/

/* Schedule start
============================================*/

.schedule {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.schedule::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -12vw;
  background-color: #fafafa;
  z-index: 0;
}

.schedule > * {
  position: relative;
  z-index: 1;
}

.schedule-line {
  align-items: center;
}

.schedule-line__text {
  flex: 0 0 25%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.schedule-line--dashed {
  flex: 0.85;
  display: inline-block;
  height: 2px;
  width: 100%;
  position: relative;
  border-top: 2px dashed #8d8d8d;
}

.schedule-line--dashed::before, .schedule-line--dashed::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -0.45rem;
  border: 2px solid #8d8d8d;
  border-radius: 50%;
}

.schedule-line--dashed::before {
  left: -0.45rem;
  background-color: #fafafa;
}

.schedule-line--dashed::after {
  right: -0.45rem;
  background-color: #8d8d8d;
}

.schedule-duration {
  padding: 80px 0;
}

.schedule-duration__text--date {
  padding: 5.472% 8.8%;
  font-weight: bold;
  font-size: 36px;
}

.schedule-day-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-day-left__text {
  width: 100%;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-right: 50px;
}

.schedule-day-left__button {
  padding: 12px 55px;
  font-weight: bold;
  font-size: 18px;
}

.schedule-day-counter {
  padding: 10px 12px;
  margin-right: 35px;
  border-radius: 16px;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

/* Schedule end
============================================*/

/* Footer start
============================================*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .row {
  align-items: center;
}

.footer-list__item {
  display: inline-block;
  margin-right: 30px;
}

.footer-list__item:last-child {
  margin-right: 0;
}

.contact-number {
  font-weight: normal;
  font-size: 18px;
  text-align: right;
}

/* Footer end
============================================*/

@media screen and (min-width: 481px) {
  .modal-register .form-sign-up {
    padding: 40px 20px;
  }
  .contact-form::before {
    left: -15.79%;
  }
}

@media screen and (min-width: 600px) {
  .modal-register .form__column {
    flex: 0 0 47%;
  }
}

@media screen and (min-width: 1025px) {
  .modal-register .form-sign-up {
    width: 70%;
  }
  .modal-register .form-sign-up.showed {
    bottom: 50%;
    transform: translateY(50%);
  }
  .member-card:hover .member-about {
    display: flex;
  }
  .product__column {
    flex: 0 0 47%;
  }
  .schedule-duration {
    flex-wrap: nowrap;
  }
  .social-list {
    margin: 0;
  }
  .social-list__item {
    display: block;
    margin: 0 0 15px 0;
  }
  .social-list__item:last-child {
    margin: 0;
  }
  .about__body {
    flex-direction: row;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1112px) {
  .modal-register .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .members-list {
    grid-template-columns: 1fr;
  }
  .price-card {
    padding: 20px 35px;
  }
  .price-card__text {
    font-size: 12px;
  }
  .form__input {
    font-size: 14px;
  }
  .schedule::before {
    left: -7.7vw;
  }
}

@media screen and (max-width: 768px) {
  .section__title::before {
    display: none;
  }
  .sessions__header {
    flex-direction: column;
    margin: 0 0 50px 20px;
  }
  .sessions__header .header__title, .sessions__header .header__subtitle, .sessions__header .header__link {
    margin-bottom: 15px;
  }
  .sessions__header .header__link {
    text-decoration: underline;
  }
  .sessions__content-img {
    margin-bottom: 1rem;
  }
  .schedule-duration {
    display: none;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer .brand-logo {
    margin: 30px 0;
  }
  .footer .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .about .row {
    flex-direction: column;
  }
  .about__column {
    flex-basis: 100%;
  }
  .about__body {
    padding-top: 50px;
  }
  .features__row {
    flex-direction: column;
  }
  .features__column {
    flex-basis: 100%;
  }
  .features__image {
    margin-bottom: 20px;
  }
  .feature-tabs {
    grid-template-columns: 1fr;
    width: 85%;
    margin: 0 auto 20px auto;
  }
  .feature-tabs__item {
    border: none;
  }
  .sessions__content {
    flex-direction: column;
    margin: 0 0 50px 0;
  }
  .price .row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .product .row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .product-description {
    margin-bottom: 30px;
  }
  .product-gallery {
    max-width: 70%;
    margin: 0 auto;
  }
  .schedule-line__text:first-of-type {
    order: 1;
  }
  .schedule-line__text:last-of-type {
    order: 2;
  }
  .schedule-line {
    flex-direction: column;
  }
  .schedule-line--dashed {
    display: none;
  }
  .schedule-duration__text--date {
    font-size: 28px;
    padding: 30px 45px;
  }
  .schedule-duration__text--date {
    margin: 25px 0;
  }
  .schedule-duration__text--date:first-of-type {
    order: 1;
  }
  .schedule-duration__text--date:last-of-type {
    order: 2;
  }
  .schedule-day-left {
    flex-direction: column;
  }
  .schedule-day-left__text {
    margin: 25px 0;
  }
  .schedule-day-counter {
    margin: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .members-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__title::before {
    font-size: 70px;
    top: -2rem;
  }
  .sessions__header .header__title, .sessions__header .header__subtitle, .sessions__header .header__link {
    flex: 0 0 49%;
    margin-bottom: 0.5rem;
  }
  .members-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .nav__menu {
    overflow-y: auto;
  }
  .modal-register .form__button {
    margin-bottom: 50px;
  }
}